//
   Created with JetBrains WebStorm.
   User: wain-_000
   Date: 25.01.14
   Time: 18:46
   To change this template use File | Settings | File Templates.

extends template
block content
    for item in dataArray
        p
            a(href='../item/'+item.id+'?season='+item.season)= item.title_ru

    textarea= rawData