extends template
block content
    -if((dataArray.series) && (dataArray.series.length > 0)) {
        h3#series Сериалы
        for item in dataArray.series
            p
                a(href='/series/'+item.id)= item.title_ru
    -}
    -if((dataArray.people) && (dataArray.people.length > 0)) {
        h3#people Люди
        for item in dataArray.people
            p
                a(href='/people/'+item.id)= item.name_ru
    -}
block menu
    ul.nav.nav-tabs.nav-stacked.primary
        li
            a(href="#series") Сериалы
        li
            a(href="#people") Люди