extends template
block content
    h3#series Сериалы
    for item in dataArray.series
        p
            a(href='/series/'+item.id)= item.title_ru

    h3#people Люди

block menu
    ul.nav.nav-tabs.nav-stacked.primary
        li
            a(href="#series") Сериалы
        li
            a(href="#people") Люди