doctype html
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 My Site
        .container
            .main-content
    for item in dataArray
        p
            a(href='list/'+item.id)= item.title_ru
    footer
        p Running on node with Express, Jade and Stylus