//
   Created with JetBrains WebStorm.
   User: wain-_000
   Date: 22.01.14
   Time: 23:08
   To change this template use File | Settings | File Templates.

!!!5
html
    head
        body
            p ---
                each val, key in json
                    p #{key}: #{val}