extends template
block common-categories
    for season in series.season
        p
            h3= 'Season ' + season.values.number
                for episode in season.episode
                    p
                        a(href=episode.video[0].values.url)= episode.values.title +' ('+ episode.values.number +')'