extends template
block common-categories
    for s in dataArray.season
        p
            h3= 'Сезон ' + s.values.number
                for episode in s.episode
                    p
                        a(href=episode.video[0].values.url)= episode.values.title +' ('+ episode.values.number +')'