//
   Created with JetBrains WebStorm.
   User: wain-_000
   Date: 25.01.14
   Time: 19:13
   To change this template use File | Settings | File Templates.
extends template
block common-categories

    textarea=rawData

    if dataArray.found
        img(src=dataArray.info.image_file)
        for item in dataArray.files
            p
                a(href='../get?url='+item.url)='S'+item.season+'E'+item.episode